#list_todos {
  min-height: calc(100vh - 10.5rem);
  width: 60rem;
}

table {
  font-size: 1.2rem;
  margin: 2rem;
  text-align: center;
}

th {
  font-weight: 700;
  padding: 0.5rem 1rem;
}

td {
  padding: 0.5rem 1rem;
}

.todo_link {
  color: #000;
}
